* {
  font-family: arial;
}
body {
  margin: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(16, 23, 33);
}
span {
  font-size: 2.5rem;
  text-align: center;
  flex-grow: 1;
  color: white;
  background-color: #475569;
  padding: 2.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.large {
  font-size: 3rem;
}

.center {
  text-align: center;
}

.slim {
  padding: 1rem;
}

.important {
  background-color: #dc2626;
  color: black;
  font-weight: bold;
}

p {
  color: white;
  text-align: center;
}

table {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  border-collapse: collapse;
}

table.dark tr:nth-child(odd) {
  background-color: #475569;
}

table.dark tr:nth-child(even) {
  background-color: #1e293b;
}

tr,
td,
th {
  border: 1px solid black;
  padding: 8px;
  width: auto;
  word-spacing: 2px;
  letter-spacing: 0.75px;
  line-height: 1.35rem;
  color: white;
  font-size: 2.25rem;
  height: 5rem;
}

table .header,
tr.header > * {
  background-color: #047857;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
}

table .sub-header,
tr.sub-header > * {
  background-color: #15803d;
  text-align: center;
  font-weight: bold;
}

table .min-header,
tr.min-header > * {
  background-color: #00796b;
  text-align: center;
  font-weight: bold;
}

button {
  padding: 1rem 2rem;
  color: white;
  background-color: #047857;
  border: 0px;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 5px;
}
